html, body
{
    height: 100%; 
}

body
{
    background-color: lightgoldenrodyellow;
    margin: 0;
}

    .slogan {
        src:url('~/assets/font/helvetica-light.ttf');
        font-family: Helvetica;
        font: Helvetica 48px light;
    }
    .title {
        src:url('~/assets/font/Helvetica-Bold.ttf');
        font-family: Helvetica;
        font: Helvetica 36px bold;
    }
    h1 {
        src:url('~/assets/font/Myriad\ Pro\ Light.otf');
        font-family: "Myriad Pro";
        font: "Myriad Pro" 48px light;
    }
    h2 {
        src:url('~/assets/font/Myriad\ Pro\ Regular.ttf');
        font-family: "Myriad Pro";
        font: "Myriad Pro" 32px italic;
    }
    h3 {
        src:url('~/assets/font/myriadpro-semibold.otf');
        font-family: "Myriad Pro";
        font: "Myriad Pro" 32px;
    }
