@font-face {
    font-family: "Helvetica-Light";
    src: url('/font/Helvetica-Light.ttf') format("truetype");
}

@font-face {
    font-family: "Helvetica";
    src: url('/font/Helvetica.ttf') format("truetype");
}

@font-face {
    font-family: "Helvetica-Bold";
    src: url('/font/Helvetica-Bold.ttf') format("truetype");
}

@font-face {
    font-family: "Helvetica-Bold-Oblique";
    src: url('/font/Helvetica-BoldOblique.ttf') format("truetype");
}

@font-face {
    font-family: "Helvetica-Oblique";
    src: url('/font/Helvetica-Oblique.ttf') format("truetype");
}